section header {
    border-top: 1px solid var(--stroke-color);
    padding-block: 12px 24px;
    font: var(--text-span);
}

/* FEATURED */
#featured img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card {
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.card::before {
    content: "";
    background: linear-gradient(
        180deg,
        transparent 0%,
        #020617 100%
    );
    inset: 0;
    position: absolute;
    top: 50%;
}

.card figcaption {
    position: absolute; /* legenda em cima da imagem */
    bottom: 0;
    padding: 24px;
}

.card figcaption:has(.text-lg) {
    padding: 12px;
}

.card figcaption h2 {
    margin-top: 8px;
}

/* WEEKLY */
#weekly {
    font-family: var(--font-family);
    grid-area: weekly;
}

#weekly img {
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}

#weekly header a {
    justify-self: end;
    align-items: center;
    gap: 8px;
    display: flex;
}

#weekly header a img {
    width: 16px;
    height: 16px;
}

#weekly figure {
    position: relative;
}

#weekly figure .content-tag {
    position: absolute;
    top: 8px;
    left: 8px;
}

#weekly figure p {
    margin-top: 8px;
    font-weight: 800;
}

#weekly > div {
    grid-template-columns: repeat(4, 292px);
    display: grid;
    gap: 16px;
    justify-content: center;
}

/* AI */
#ai img {
    width: 176px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

#ai .grid-flow-col {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    display: grid;
}

#ai .grid {
    display:grid;
    gap: 16px;.
}

#ai h3 {
    margin-block: 8px 4px;
}


#featured {
    grid-area: featured;
}

#ai {
    grid-area: ai;
}

aside {
    grid-area: aside;
}


#featured { grid-area: featured; }
#weekly { grid-area: weekly; }
#ai { grid-area: ai; }
aside { grid-area: aside; }

#more {

    h3 {
        margin-top: 8px;
    }
}